@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

#asdf {
  font-family: 'Outfit', sans-serif;;
}

#img .main-image {
  position: relative;
}

#img .main-image div {
  position: absolute;
  top: 0;
  background-color: hsl(178, 100%, 50%, 60%);
  width: 100%;
  height: calc(100% - 4px);
  z-index: 999;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#img .main-image div:hover {
  opacity: 1;
  cursor: pointer;
}

#img .main-image div img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
